

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');


:root {
  --color-bg: #191A21;
  --color-bg-form: #3d3d3d;
  --color-primary:#C678DD;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/bg.png');
  background-position: center;
  background-size: cover;
  font-family: 'Kiwi Maru','Zen Maru Gothic', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

img{
  width: 100%;
}

/* 
.btn{
  background-color: purple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.9;
}

.btn:focus{
  outline: 0;
} */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 20px 10px;
  cursor: pointer;
}
