
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

:root {
  --color-bg: #191A21;
  --color-bg-form: #3d3d3d;
  --color-primary:#fc7743;
  --container-width:1200px;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Kiwi Maru','Zen Maru Gothic', sans-serif;
  /* background-color: var(--color-bg-form); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  color: #fff;
}

header{
  display: flex;
  justify-content: center;
  width:100%;
  height: 60px;
  background-color: var(--color-bg);
  position: fixed;
  z-index: 5;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--container-width);
  padding: 0 20px;
}

header ul{
  list-style-type: none;
  display: flex;
  margin: 0;
}
header ul li{
  margin: 0 10px;
}

header ul li a{
  display: block;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #fff;
  transition: color 1s ease;
}
a.active,a:hover{
  color: var(--color-primary);
}

h1{
  margin: 0;
}
.banner{
  position: relative;
  background-color: rgb(255, 239, 239);
  background-image:url('https://images.unsplash.com/photo-1696838165908-391883adf443?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.webintro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.content {
  /* width:var(--container-width); 這樣會出現X軸喔 */
  width: 100%; /*Make sure the content div occupies the full width of its parent container.*/
  max-width: var(--container-width); /* Set a maximum width based on your variable. */
  color: black;
  padding: 20px; 
}


header.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 50px;
}

header.active a {
  color: #0e0d0d;
}

header.active a:active,header.active a:hover {
  color: var(--color-primary);
}
header.active a.active{
  color: var(--color-primary);

}