
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

:root {
  --color-bg: #191A21;
  --color-bg-form: #3d3d3d;
  --color-primary:#C678DD;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Kiwi Maru','Zen Maru Gothic', sans-serif;
  background-color: var(--color-bg);
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  color: #fff;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}

/* ⭐每一個畫面都是100vw/vh占據整個視窗 */
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

/* contain
增加或減少載入物件的寬度及高度(維持原比例)直到放得進所定義的元素寬高。 */
.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.screen.up {
  margin-top: -100vh;
} 


/* ⭐選擇昆蟲 */
.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.choose-insect-btn:hover {
  background-color: #fff;
  color: #516dff;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}


/* ⭐遊戲畫面 */
.game-container {
  position: relative;
}

.time,.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 50px;
}

.score {
  right: 50px;
}

.message {
  /* 文字樣式和顏色 */
  line-height: 1.7;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  /* 尺寸與邊界 */
  width: 100%;
  padding: 20px;
  /* 定位 */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  z-index: 100;
  /* 動畫 */
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}


/* ⭐javascript */
.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
} 
